@model ShoppingCartViewModel
<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>SubTotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Book.Title</td>
                <td>@item.Book.Description</td>
                <td>@item.Book.Price</td>
                <td>@item.Quantity</td>
                <td>@(item.Book.Price * item.Quantity)</td>
                <input type="hidden" value="@item.Book.BookId"/>
                <td>
                    <a asp-controller="ShoppingCart" asp-action="RemoveItem" 
                    asp-route-id="@item.Book.BookId" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>@Model.TotalPrice</td>
        </tr>
    </tbody>
</table>